@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $bg-light;
}

.container {
  display: flex;
  flex: 1;
  position: relative;
}

.main {
  flex: 1;
  margin-left: 280px;
  margin-top: 70px;
  padding: $spacing-2xl;
  overflow-y: auto;
  background-color: $bg-light;
  @include transition(margin-left);

  @include media-md {
    margin-left: 0;
    margin-top: 70px;
    margin-bottom: 80px;
    padding: $spacing-lg;
  }

  @include media-sm {
    margin-left: 0;
    margin-top: 70px;
    margin-bottom: 80px;
    padding: $spacing-md;
  }

  &.mainCollapsed {
    margin-left: 80px;

    @include media-md {
      margin-left: 0;
    }

    @include media-sm {
      margin-left: 0;
    }
  }
}
