@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $bg-light;
}

.container {
  display: flex;
  flex: 1;
  position: relative;
}

.main {
  flex: 1;
  margin-left: 280px;
  margin-top: 70px;
  padding: $spacing-2xl;
  overflow-y: auto;
  background-color: $bg-light;

  @include media-md {
    margin-left: 0;
  }

  @include media-sm {
    padding: $spacing-lg;
  }
}

/* Adjust for sidebar collapse */
.layout :global(.sidebar.collapsed) ~ .main {
  margin-left: 80px;

  @include media-md {
    margin-left: 0;
  }
}
